body {
    font: 100%/1.5 system-ui, sans-serif;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
}

h1 {
  margin: 1em 0 0 0;
}

p {
  margin: 0;
}

html, body {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
    
#map {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 1em;
}

#map svg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  & circle {
    fill-opacity: .7;
    pointer-events: auto;
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(
      in oklch,
      var(--color-departures) calc(100% * var(--departure-ratio)),
      var(--color-arrivals)
      );
    fill: var(--color);
  }
}

#time-filter {
  display: grid;
  width:100%;
  max-width: 35em;
  align-items: baseline;
  margin: 1em 0;
  & em {
    display: block;
    margin-left: auto;
  }
  & time {
    margin-left: auto;
  }
}

#time-slider {
  display: grid;
  width: 100%;
  max-width: 600px;
}

.legend {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 2rem;
  min-width: 550px;
}

.legend-label {
  font-weight: bold;
  font-size: 1.2em;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.swatch {
  width: 20px;
  height: 20px;
  position: relative;
}

.swatch::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: currentColor;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.swatch[style*="--departure-ratio: 1"] {
  color: steelblue;
}

.swatch[style*="--departure-ratio: 0"] {
  color: darkorange;
}

.swatch[style*="--departure-ratio: 0.5"] {
  color: color-mix(
    in oklch,
    steelblue calc(100% * .5), darkorange
    );
}

.theme-switcher {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: .8rem;
  font-family: inherit;
  z-index: 1000;
}

[data-theme='dark'] body {
  background-color: black;
  color: white;
}